[bar.main]
start = ["launcher", "control-center", "keybinds", "workspaces"]
center = ["clock"]
end = ["tray", "notifications", "clipboard", "audio", "bluetooth", "network", "battery", "session"]

enabled = true
position = "{{.appearance.main_bar_pos}}"
smart_auto_hide = false
layer = "top"
monitor = ""
margin_ends = 300
padding = 16
thickness = 32

[widget.keybinds]
type = "kenn/keybind-cheatsheet:keybinds"

[widget.audio]
type = "blackbartblues/audio-switcher:widget"

[widget.network]
show_label = false



[widget.battery]
show_label = false
