{{ range $index, $data := .niri_outputs }}
{{- $i := 0 -}}
output "{{ $data.name  }}" {
    {{range .modes}}
        {{- if .is_preferred -}}
        mode "{{.width}}x{{.height}}"
        {{- end }}
    {{ end -}}
    scale {{.logical.scale }}
    position x={{$i}} y=0
    focus-at-startup
}
{{- $i := add $i .logical.width -}}
{{ end }}
